:host {
  background: #eedccc;

  display: flex;
  flex-direction: column;
  padding: 10px;

  h1 {
    padding: 10px;
  }

  section {
    display: flex;

    input {
      width: 250px;
    }

    button {
      margin-left: 20px;
    }
  }

}
