:host {
  background: #eedccc;

  width: 100%;
  display: flex;
  flex-direction: column;
}

:host h1 {
  padding: 10px;
}

:host .post-wrapper {
  display: flex;
  padding: 10px;
  height: 100px;
}

:host .post-wrapper button {
  width: 250px;
}

:host textarea {
  flex: 1;
}

:host button {
  margin: 10px;
}

:host .container {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
